<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Location</dt>
    <dd>@Model.Location</dd>

    <dt>Description</dt>
    <dd>@MvcHtmlString.Create(Model.Description.Replace(Environment.NewLine, "<br />"))</dd>

    <dt>Start/due date</dt>
    <dd>
        <span class="task_datetime_readable">@Model.Startdate UTC</span></dd>

    <dt>End date</dt>
    <dd>
        <span class="task_datetime_readable">@Model.Enddate UTC</span></dd>
</dl>
<br/><br/>